footer {
    background : #343a40;
    padding: 40px;
}

footer a {
    color: #f8f9fa !important;
}

.product_reassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}

.product_reassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}

.product_reassurance .list-inline li:hover {
    color: #343a40;
}

.fa-start {
    color: gold;
}